:root {
  --dark-gray: #879aa8;
  --light-gray: #90a3a9;
  --acc-orange: #d86c46;
  --pri-black: #111;
  --pri-beige: #e9d8a6;
}

.swipe-box {
  height: 560px;
  width: 560px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  background-color: var(--dark-gray);
  border-radius: 0.5rem;
}

.swipe-box div {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .swipe-box {
    height: 480px;
    width: 480px;
  }
}

@media only screen and (max-width: 500px) {
  .swipe-box {
    width: 380px;
    height: 380px;
  }
}
