@import url(../welcome.css);
@import url(../puzzel-1.css);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Header';
  src: url('../../public/fonts/Prison\ Walls.ttf');
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Header';
  letter-spacing: 0.2rem;
}

p,
a,
span,
code,
ul,
li,
ol,
mark,
ins,
del,
sup,
sub,
small,
button {
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
}

body {
  height: 100%;
  width: 100%;
  background-color: #e9d8a6;
}
.full-screen {
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-align: start;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.hidden {
  display: none;
  opacity: 0;
  animation: fade 2s;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}
.flex-col {
  flex-direction: column;
}
.overflow-hidden {
  overflow: hidden;
}
.win {
  display: flex;
  justify-content: center;
}
.wins {
  justify-content: center;
  padding-top: 50vh;
  text-align: center;
  line-height: 2.5rem;
}
.winbtn {
  margin-top: 2rem;
  background: #d86c46;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  text-decoration: none;
  border: none;
  color: white;
}
.progress_bar {
  position: sticky;
  top: 0.7rem;
  width: 100vw;
  display: flex;
  font-family: 'Header';
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#progress::-moz-progress-bar {
  background: #d86c46;
  appearance: none;
  border: 0;
  border-radius: 0.2rem;
}
#progress::-webkit-progress-value {
  background: #d86c46;
  appearance: none;
  border: 0;
  border-radius: 0.2rem;
}
#progress {
  margin-top: 0.5rem;
  background: #d86c46;
  appearance: none;
  border: 0;
  border-radius: 0.2rem;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
