::-webkit-scrollbar {
  width: 0em;
}

body {
  overflow: hidden;
}
.second {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#score-player {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
}
.second p {
  width: 50%;
  text-align: left;
  margin-top: 1rem;
}
.second h2 {
  margin-top: 2rem;
}

.second h3 {
  margin-top: 1rem;
}

.volgende {
  background: #d86c46;
  border: none;
  border-radius: 0.5rem;
  width: 10rem;
  height: 3rem;
  color: white;
  margin-top: 2rem;
}

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  position: sticky;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.container {
  height: calc(100vh - 10rem);
  overflow: auto;
}

.letters {
  background-color: #879aa8;
  border: none;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 40px;
  color: #90a3a9;
}

.btn {
  background-color: #879aa8;
  border: none;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}
.btn a {
  text-decoration: none;
  font-size: 40px;
  color: #90a3a9;
}
.b1 {
  background-color: #d86c46;
  border-radius: 25px;
  border: 2px solid black;
  left: 10px;
}

.tijd1 {
  display: grid;
  align-content: center;
  justify-items: center;
  right: 20px;
  background-color: #d86c46;
  border-radius: 25px;
  border: 2px solid black;
}

.letter {
  transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: 125px;
}

.letter2 {
  transform: rotate(40deg);
  margin-left: 12px;
}

.letter3 {
  transform: rotate(110deg);
  margin-bottom: 45px;
  margin-left: 10px;
}

.letter4 {
  transform: rotate(-79deg);
  margin-top: 50px;
  margin-left: 50px;
}

.letter5 {
  transform: rotate(-32deg);
  margin-top: 50px;
  margin-left: 50px;
}

.letter6 {
  transform: rotate(69deg);
  margin-left: 80px;
  margin-top: 20px;
}

.letter7 {
  transform: rotate(23deg);
  margin-left: 90px;
  margin-top: -10px;
}
.status {
  display: grid;
  align-content: center;
  justify-items: center;
  padding-top: 20px;
  left: 20px;
  position: sticky;
  width: 100%;
}

.puzzel-1 {
  background-color: #879aa8;
  overflow: hidden;
}

.letter-container {
  margin-top: 10px;
  height: 150%;
  /* overflow-y: hidden; */

  width: 150vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* justify-items: center;
  align-items: center; */
}

.hide-letter {
  opacity: 0;
}
@media only screen and (max-width: 600px) {
  .second p {
    width: 80%;
  }
}
