@import url(./general/flex.css);
@import url(./puzzel/swipe-puzzel.css);
@import url(./general/margin.css);
@font-face {
  font-family: 'Header';
  src: url('../public/fonts/Prison\ Walls.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

::backdrop {
  --color-backdrop: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Header';
  letter-spacing: 0.2rem;
}

p,
span,
code,
ul,
li,
ol,
mark,
ins,
del,
sup,
sub,
small,
button {
  font-family: 'Amatic SC', cursive;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e9d8a6;
  touch-action: none;
}

/* .draggable {
  transform: rotate(-5deg);
  position: absolute;
  width: 50px;
  height: 50px;
} */
/* Styling */
.full {
  height: 100%;
  width: 100%;
}
.max {
  height: 100vh;
  width: 100vw;
}

.reset-button {
  background-color: var(--acc-orange);
  border: none;
  border-radius: 0.2rem;
  padding: 1rem 5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.blank {
  display: none;
}

.modal {
  height: 50vh;
  max-width: 50vw;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

dialog > h1 {
  text-align: center;
}
dialog::backdrop {
  background-color: var(--color-backdrop);
}

form {
  display: flex;
  justify-content: right;
}
.close {
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--acc-orange);
}

.no-pointer {
  pointer-events: none;
}

.move {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transform: rotate(-5deg);
  width: 80px !important;
  height: 80px !important;
}
